{% extends 'index.html' %}
{% block content %}

{% load static %}
		<!-- main start -->
		<main class="js-animsition-overlay" data-animsition-overlay="true">


			<!-- about start -->
			<section id="down" class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel">
					<!-- container start -->
					<div class="container padding-top-bottom-120">
						<h2 class="headline-m text-center js-scrollanim">
							<span class="hidden-box d-block">
								<span class="anim-slide">Trouver des textes à mettre ici</span>
							</span>
						</h2>

						<!-- flex-container start -->
						<div class="flex-container flex-justify-center padding-top-30">
							<!-- column start -->
							<div class="four-columns column-50-100 padding-top-60">
								<div class="column-l-r-margin-10 js-scrollanim">
									<div class="anim-overlay">
										<img style="width: 325px;" src="{% static 'assets/images/slide/11.jpg' %}" alt="saas">
									</div>
									<div class="margin-top-20 anim-text-reveal tr-delay-02">
										<h4 class="headline-xxxs">
											Trouver un Titre à mettre ici<span class="text-color-red"></span><br>
											<span class="text-color-red"></span>
										</h4>
										<p class="body-text-xs margin-top-20">Trouver des textes à mettre ici<br>Trouver des textes à mettre ici</p>
									</div>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns column-50-100 padding-top-60">
								<div class="column-l-r-margin-10 js-scrollanim">
									<div class="anim-overlay">
										<img style="width: 325px;"  src="{% static 'assets/images/slide/11.jpg' %}" alt="saas">
									</div>
									<div class="margin-top-20 anim-text-reveal tr-delay-02">
										<h4 class="headline-xxxs">
											Titre Text<span class="text-color-red"></span><br>
											<span class="text-color-red"></span>
										</h4>
										<p class="body-text-xs margin-top-20">Trouver des textes à mettre ici<br>Trouver des textes à mettre ici</p>
									</div>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns column-50-100 padding-top-60">
								<div class="column-l-r-margin-10 js-scrollanim">
									<div class="anim-overlay">
										<img style="width: 325px;"  src="{% static 'assets/images/slide/11.jpg' %}" alt="saas">
									</div>
									<div class="margin-top-20 anim-text-reveal tr-delay-02">
										<h4 class="headline-xxxs">
											Titre Text<span class="text-color-red"></span><br>
											<span class="text-color-red"></span>
										</h4>
										<p class="body-text-xs margin-top-20">Trouver des textes à mettre ici<br>Trouver des textes à mettre ici</p>
									</div>
								</div>
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section><!-- about end -->

			<!-- services start -->
			<section id="services" class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-bottom-120 container">
					<div class="container flex-container padding-bottom-70">
						<!-- column start -->
						<div class="six-columns padding-bottom-20">
							<!-- title start -->
							<h2 class="column-l-r-margin-10 headline-m js-scrollanim">
								<span class="hidden-box d-block">
									<span class="anim-slide">
										<span class="text-color-red">LAYENE DIGITAL</span>
									</span>
								</span>
							<div class="anim-overlay js-scrollanim">
								<img style="width: 450px;" src="{% static 'assets/images/slide/11.jpg' %}" alt="saas">
							</div>
								<!--<span class="hidden-box d-block">
									<span class="anim-slide tr-delay-01 text-color-red">People</span>
								</span>-->
							</h2><!-- title end -->
						</div><!-- column end -->

						<!-- column start -->
						<div class="six-columns padding-bottom-20">
							<div class="column-l-r-margin-10">
								<p style="text-align: justify;color:white; font-family: 'arial';" class="body-text-s anim-text-reveal js-scrollanim">Layéne Digital était auparavant nommé "137em anniversaire de l'Appel de Seydina Limamou Lahi al Mahdi psl" comme page Facebook. La page a été créée le 1er Aril 2017 par de jeunes layénes issus de différentes localités de la région de <span style="color: rgb(255, 230, 230) ;"> Dakar, Malika, Cambérene, Bargny, Mbao, Keur Massar, Ngor, Yeumbeul etc...
									<br>Conscients du manque de visibilité de la Communauté Layéne sur internet et plus particulièrement sur les réseaux sociaux ces jeunes ont fini de formuler le projet dénommé Layéne Digital par la mise en place d'une plateforme technique du même nom.Layéne existe sur FaceBook, Instagram et Twitter qui sont les réseaux sociaux les plus utilisés par les sénégalais à travers le monde.
									<br>
									Notre organisation est totalement bénévole et regroupe différents acteurs et professionnels évoluant dans le domaine de l'information, de la communication et du digital.
                                    Layéne Digital est composé d'une diversité de profils;
                                   	<br>Ainsi, cette diversité d'expertise constitue notre pus grande richesse. Ce que nous comptons convertir en un réel atout au Service de notre communauté à travers ses différentes organisations ou regroupements ici au Sénégal et dans le diaspora.</p>

								<!-- list start -->
								<ul class="list text-color-dadada margin-top-30 js-scrollanim">
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide" style=" font-family: 'arial';">Photographes</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-01" style=" font-family: 'arial';">Infographes</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-02" style=" font-family: 'arial';">Vidéo Makers</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-03" style=" font-family: 'arial';">Developpers</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-04" style=" font-family: 'arial';">Web Designers</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-05" style=" font-family: 'arial';">Digital Managers</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-06" style=" font-family: 'arial';">Journalistes</div>
									</li>
								</ul><!-- list end -->
							</div>
						</div><!-- column end -->
					</div><!-- flex-container end -->
					<!-- flex-container start -->
					<div class="flex-container flex-align-center padding-top-60">
						<!-- column start -->
						</div><!-- column end -->
					</div><!-- flex-container end -->

				</div><!-- pos-rel end -->
			</section><!-- services end -->
			
			<section class="pos-rel section-bg-light-1" data-midnight="black">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-bottom-120">
					<!-- container start -->
					<div class="container small">
						<!-- title start -->
						<h2 class="headline-xxl text-color-black text-center hidden-box">
							<span class="anim-slide js-scrollanim">
								QUELQUES <span class="text-color-red">ARTICLES</span>
							</span>
						</h2><!-- title end -->

						<!-- blog-entry start -->
						<article class="flex-container flex-align-center padding-top-60">
						{% for bg in blog %}
							<div class="six-columns padding-top-30">
								<a href="{% url 'details' id=bg.id %}" class="d-block hover-box anim-img-reveal js-scrollanim js-pointer-large js-animsition-link">
									<div class="anim-img-reveal__hidden">
										<div class="anim-img-reveal__scale">
											<img class="img-hover-scale" src="{{ bg.photo.url }}" alt="Post">
										</div>
									</div>
								</a>
							</div>
							<div class="six-columns padding-top-30">
								<div class="column-l-margin-40 anim-fade js-scrollanim">
									<ul class="list list_row list_margin-30px">
										<li class="list__item">
											<a href="#" class="subhead-xxs text-color-888888 text-hover-to-red js-pointer-small">{{ bg.auteur }}</a>
										</li>
										<li class="list__item">
										</li>
										<li class="list__item">
											<a href="#" class="subhead-xxs text-color-888888 text-hover-to-red js-pointer-small">{{bg.created_date}}</a>
										</li>
									</ul>
									<a href="{% url 'details' id=bg.id %}" class="margin-top-bottom-30 d-block js-pointer-large js-animsition-link">
										<h3 class="headline-xxxs text-color-black">
											{{bg.tittle}}<br>
										</h3>
										{{ form.media }}
										<p class="body-text-xs margin-top-20 text-color-black" style="">{{bg.text|safe|truncatewords:5 }}</p>
									</a>
									<a href="{% url 'details' id=bg.id %}" class="skew-btn js-pointer-large js-animsition-link">
										<span class="skew-btn__box">
											<span class="skew-btn__content text-color-black">Voir Plus</span>
											<span class="skew-btn__arrow black"></span>
										</span>
									</a>
								</div>
							</div>
						{% endfor %}
						</article><!-- blog-entry end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section>

		</main><!-- main end -->

{% endblock %}