{% extends 'index.html' %}
{% block content %}

{% load static %}
		<!-- main start -->
		<main class="js-animsition-overlay" data-animsition-overlay="true">
			<!-- page head start -->



			<!-- about start -->
			<section id="down" class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- width-100perc start -->
					<div class="width-100perc padding-top-100 padding-bottom-120">
						<!-- flex-container start -->
						<div class="container flex-container">
							<!-- column start -->
							<div class="four-columns column-100-100 padding-top-20">
								<div class="column-r-margin-20-999">
									<h2 class="headline-s anim-text-double-fill js-scrollanim" data-text="LD Developpers">LD Developpers</h2>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="eight-columns column-100-100 padding-top-20">
								<div class="column-r-margin-20-999">
									<p class="body-text-s anim-text-reveal js-scrollanim">TextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextText</p>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="column-r-margin-20 js-scrollanim">
									<h6 class="subhead-xs anim-text-double-fill" data-text="Text">Text</h6>
									<!-- list start -->
									<ul class="list text-color-b0b0b0 padding-top-20">
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-01">Text</p>
										</li>
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-02">Text</p>
										</li>
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-03">Text</p>
										</li>
									</ul><!-- list end -->
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="column-r-margin-20 js-scrollanim">
									<h6 class="subhead-xs anim-text-double-fill" data-text="Text">Text</h6>
									<!-- list start -->
									<ul class="list text-color-b0b0b0 padding-top-20">
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-01">Text</p>
										</li>
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-02">Text</p>
										</li>
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-03">Text</p>
										</li>
									</ul><!-- list end -->
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="column-r-margin-20 js-scrollanim">
									<h6 class="subhead-xs anim-text-double-fill" data-text="Text">Text</h6>
									<!-- list start -->
									<ul class="list text-color-b0b0b0 padding-top-20">
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-01">Text</p>
										</li>
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-02">Text</p>
										</li>
										<li class="list__item red dot hidden-box">
											<p class="subhead-xxs anim-slide tr-delay-03">Text</p>
										</li>
									</ul><!-- list end -->
								</div>
							</div><!-- column end -->
						</div><!-- flex-container end -->

						<!-- js-infinite-slider start -->
						<div class="js-infinite-slider hidden-box padding-top-120">
							<!-- swiper-wrapper start -->
							<div class="swiper-wrapper">
								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/chayhana.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/dongolok.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/eptep-septep.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/guldoyjan.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/jorgo.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/judoboy.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/kizil-jindi.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/meyman.png" alt="clients logo">
								</div><!-- swiper-slide end -->

								<!-- swiper-slide start -->
								<div class="swiper-slide text-center">
									<img class="client-logo" src="assets/images/clients/olchobay.png" alt="clients logo">
								</div><!-- swiper-slide end -->
							</div><!-- swiper-wrapper end -->
						</div><!-- js-infinite-slider end -->
					</div><!-- width-100perc end -->
				</div><!-- pos-rel end -->
			</section><!-- about end -->
		</main><!-- main end -->

{% endblock %}