{% extends 'index.html' %}
{% block content %}

{% load static %}
		<!-- main start -->
		<main class="js-animsition-overlay" data-animsition-overlay="true">
			<!-- page head start -->


			<!-- about start -->
			<section id="down" class="lines-section pos-rel black-lines section-bg-light-2" data-midnight="black">
				<!-- flex-container start -->
				<div class="flex-container lines-container pos-rel black-lines padding-top-30 padding-bottom-120">
					<!-- column start -->
					<div class="four-columns column-100-100 padding-top-90">
						<div class="line-col-l-r-margin-20">
							<!-- title start -->
							<h2 class="headline-s js-scrollanim">
								<span class="anim-text-fill text-color-black" data-text="Text">Text</span>
								<span class="anim-text-fill text-color-black tr-delay-01" data-text="Text">Text</span><br>
								<span class="anim-text-fill text-color-red tr-delay-02" data-text="Text">Text</span>
								<span class="anim-text-fill text-color-red tr-delay-03" data-text="Text">Text</span>
							</h2><!-- title end -->
							<p class="body-text-s text-color-black margin-top-20 anim-text-reveal tr-delay-08 js-scrollanim">Text</p>
							<!-- list start -->
							<ul class="list text-color-6d6d6d margin-top-30 js-scrollanim">
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide">Text</div>
								</li>
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide tr-delay-01">Text</div>
								</li>
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide tr-delay-02">Text</div>
								</li>
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide tr-delay-03">Text</div>
								</li>
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide tr-delay-04">Text</div>
								</li>
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide tr-delay-05">Text</div>
								</li>
								<li class="list__item red dot hidden-box">
									<div class="subhead-xxs anim-slide tr-delay-06">Text</div>
								</li>
							</ul><!-- list end -->
						</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="eight-columns column-100-100 js-isotope-grid-box">
						<!-- empty grid -->
						<div class="js-isotope-grid-item empty-grid-1px-50-50-none"></div>
						<div class="js-isotope-grid-item empty-grid-100px-50-50-none"></div>

						<!-- grid-item start -->
						<div class="padding-top-90 grid-item-50-50-100 js-isotope-grid-item">
							<!-- grid-margin-box start -->
							<div class="grid-margin-box text-right js-scrollanim">
								<div class="anim-fade">
									<span class="subhead-xs text-color-red">01</span><br>
									<h3 class="headline-xxs text-color-black margin-top-30">Text</h3>
									<p class="body-text-xs text-color-black margin-top-20">Text Text Text Text Text</p>
								</div>
							</div><!-- grid-margin-box end -->
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-90 grid-item-50-50-100 js-isotope-grid-item">
							<!-- grid-margin-box start -->
							<div class="grid-margin-box js-scrollanim">
								<div class="anim-fade">
									<span class="subhead-xs text-color-red">02</span><br>
									<h3 class="headline-xxs text-color-black margin-top-30">Text</h3>
									<p class="body-text-xs text-color-black margin-top-20">Text Text Text Text Text</p>
								</div>
							</div><!-- grid-margin-box end -->
						</div><!-- grid-item end -->

						<!-- grid-item start -->
						<div class="padding-top-90 grid-item-50-50-100 js-isotope-grid-item">
							<!-- grid-margin-box start -->
							<div class="grid-margin-box text-right js-scrollanim">
								<div class="anim-fade">
									<span class="subhead-xs text-color-red">03</span><br>
									<h3 class="headline-xxs text-color-black margin-top-30">Text</h3>
									<p class="body-text-xs text-color-black margin-top-20">Text Text Text Text Text</p>
								</div>
							</div><!-- grid-margin-box end -->
						</div><!-- grid-item end -->
					</div><!-- column end -->
				</div><!-- flex-container end -->
			</section><!-- about end -->

			<!-- portfolio start -->
			<section class="lines-section pos-rel black-lines section-bg-light-1" data-midnight="black">
				<!-- lines-container start -->
				<div class="lines-container pos-rel no-lines padding-top-bottom-120">
					<!-- container start -->
					<div class="container small">
						<!-- title start -->
						<h2 class="headline-xxl text-center js-scrollanim">
							<span class="anim-text-fill text-color-black" data-text="QUELQUES">QUELQUES</span>
							<span class="anim-text-fill text-color-red tr-delay-01" data-text="RÉALISATIONS">RÉALISATIONS</span>
						</h2><!-- title end -->


						<!-- js-isotope-filter-grid-box start -->
						<div class="js-isotope-filter-grid-box padding-top-30">
							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item minimal">
								<a href="{% static 'assets/images/img/gallery/camberene-11.jpg' %}" class="grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/img/gallery/camberene-11.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->

							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item interior">
								<a href="{% static 'assets/images/img/gallery/camberene-12.jpg' %}" class="grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/img/gallery/camberene-12.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->

							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item minimal">
								<a href="{% static 'assets/images/img/gallery/camberene-13.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/img/gallery/camberene-13.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->

							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item loft">
								<a href="{% static 'assets/images/img/gallery/camberene-14.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/img/gallery/camberene-14.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->

							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item interior">
								<a href="{% static 'assets/images/slide/36.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/slide/36.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->

							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item loft">
								<a href="{% static 'assets/images/slide/37.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/slide/37.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->

							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item loft">
								<a href="{% static 'assets/images/slide/38.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/slide/38.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->
							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item loft">
								<a href="{% static 'assets/images/slide/39.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/slide/39.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->
							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item loft">
								<a href="{% static 'assets/images/slide/40.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/slide/40.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
							</div><!-- grid-item end -->
							<!-- grid-item start -->
							<div class="padding-top-30 js-isotope-filter-grid-item loft">
								<a href="{% static 'assets/images/slide/41.jpg' %}" class=" grid-margin-box js-photo-popup js-pointer-zoom">
									<div class="anim-img-scale js-img-scale content-bg-dark-1">
										<div class="anim-img-scale__inner">
											<img class="img-hover-opacity" src="{% static 'assets/images/slide/42.jpg' %}" alt="project">
										</div>
										<div class="border-left-anim in-10px center"></div>
										<div class="border-top-anim in-10px center"></div>
										<div class="border-right-anim in-10px center"></div>
										<div class="border-bottom-anim in-10px center"></div>
									</div>
								</a>
								<ul class="list list_row list_margin-05px padding-top-30">
										<li class="list__item">
											<a href="{% url 'gallery' %}" class="border-btn js-pointer-large">
												<span class="border-btn__inner" style="color: black;">Voir Plus</span>
												<span class="border-btn__lines-1"></span>
												<span class="border-btn__lines-2"></span>
											</a>
										</li>
								</ul>
							</div><!-- grid-item end -->
						</div><!-- js-isotope-filter-grid-box end -->
					</div><!-- container end -->
				</div><!-- lines-container end -->
			</section><!-- portfolio end -->
		</main><!-- main end -->

{% endblock %}